!!!
%html
  %head
    %title Slow Food
  %body
    %div
      %ul
        - @restaurant.each do |restaurant|
          %li= restaurant[:name]

    %div{ :style => "width: 1000px;" }
      #map{ :style => "width: 1000px; height: 600px;" }
